<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
    <link rel="stylesheet" href="/css/style.css" >
</head>
<body>
    <main class="container">
        <%- include('../partials/navbar'); %>

        <div class="welcome-container">
            <h1>About</h1>
            <p>What is the ICT AOR Assistant?</p>
        </div>

        <div class="about-container">
            <p>The ICT AOR Assistant is an AI-powered tool designed to help you manage and query your ICT Area of Responsibility. Simply submit your query on the home page, attach any relevant files if needed, and the assistant will process your input and provide a response.</p>
            <br>
            <a href="/">Get started!</a>
        </div>

    </main>
</body>
</html>